.app__Result {
    background-color: var(--color-black);
}

.app__Result-content-h2 {
    font-family: var(--font-base);
    color: var(--color-golden);
    padding: 1rem 0 1rem 0;
    letter-spacing: 0.04em;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p__opensans {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__Result-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

@media screen and (max-width: 850px) {
    .app__Result-content-h2 {
        font-family: var(--font-base);
        color: var(--color-golden);
        padding: 1rem 0 1rem 0;
        letter-spacing: 0.04em;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .app__Result-content {
        padding: 0 1.5rem 0 1.5rem;
    }
    
    .app__Result-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }
}